body{
  background: url("https://images.pexels.com/photos/688574/pexels-photo-688574.jpeg?cs=srgb&dl=pexels-toni-cuenca-688574.jpg&fm=jpg&_gl=1*fi2dzw*_ga*MTI5MTk4Mzc4OS4xNjg4MTM2MTcz*_ga_8JE65Q40S6*MTY4ODEzNjE3NC4xLjEuMTY4ODEzNjU5MS4wLjAuMA..");
  background-repeat: no-repeat;
  background-size: cover;
  font-family: "Happy Monkey", cursive;
}

.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}
